* {
  box-sizing: border-box;
}
.spacer {
  margin: auto;
}
.bg_dark {
  background-color: #454955 !important;
}
.bg_purple {
  background-color: #9085E3 !important;
}
.bg_black {
  background-color: #1C1C1C !important;
}
.text_white {
  color: white !important;
}
.text_yellow {
  color: #FFE500 !important;
}
.text_purple {
  color: #9085E3 !important;
}
.text_align_left {
  text-align: left !important;
}
.text_align_right {
  text-align: right !important;
}
.text_bold {
  font-weight: 800;
}
.content_block {
  padding: 40px 20px;
}
.font_14 {
  font-size: 14px !important;
}
.font_17 {
  font-size: 17px !important;
}
.font_20 {
  font-size: 20px !important;
}
.font_25 {
  font-size: 25px !important;
}
.font_30 {
  font-size: 30px !important;
}
@media (max-width: 768px) {
  .font_30 {
    font-size: 20px !important;
  }
}
@media (max-width: 576px) {
  .font_30 {
    font-size: 15px !important;
  }
}
.font_40 {
  font-size: 40px !important;
}
.margin_none {
  margin: 0 !important;
}
.margin_bottom_20 {
  margin: 0 0 20px 0 !important;
}
.padding_none {
  padding: 0 !important;
}
.padding_right_10 {
  padding-right: 10px;
}
.padding_right_15 {
  padding-right: 15px;
}
.padding_left_10 {
  padding-left: 10px;
}
.padding_top_5 {
  padding-top: 5px;
}
.padding_top_10 {
  padding-top: 10px;
}
.padding_bottom_20 {
  padding-bottom: 20px;
}
.padding_bottom_30 {
  padding-bottom: 35px;
}
.padding_login {
  width: 100%;
  padding: 0 15px 30px 15px;
}
.border_radius_10 {
  border-radius: 10px !important;
}
.image_width_370 {
  width: 370px;
  height: auto;
}
@media (max-width: 576px) {
  .image_width_370 {
    width: 320px;
    height: auto;
  }
}
.image_full_width {
  width: 250px;
  height: auto;
}
.full_width {
  width: 100%;
}
.width_80 {
  width: 80%;
}
.width_200px {
  width: 220px;
}
body {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 30px;
}
a,
a:visited,
a:hover {
  color: white;
  text-decoration: none !important;
}
.header {
  height: 78px !important;
  background-color: #454955 !important;
}
.header_links {
  width: 250px;
}
.header_links a {
  margin-top: 7px;
  font-size: 17px;
}
.logo {
  margin-right: 50px !important;
  color: #FFE500 !important;
  font-size: 35px !important;
}
.logo2 {
  color: #FFE500 !important;
  font-size: 35px !important;
  margin: 0;
}
.nav-icons {
  height: fit-content;
}
.nav-icons > a {
  margin: 0px 5px;
  height: fit-content;
}
.login {
  background-color: #9085E3;
}
.login a {
  font-size: 17px;
}
.button_main {
  display: inline-block;
  text-align: center;
  border: 2px solid #9085E3;
  padding: 5px 0 !important;
  border-radius: 30px;
}
#login {
  width: 115px;
  background-color: #9085E3;
}
#register {
  width: 115px;
  background-color: #454955;
}
#main_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 78px);
  background-image: url(/images/first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main_page div a {
  font-size: 25px;
  color: #FFE500;
  background-color: #24235E;
  border-color: #FFE500;
  width: 304px;
  padding: 15px 0 !important;
  border-radius: 50px;
}
#login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 78px);
  background-image: url(/images/first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_text {
  font-size: 26px;
  color: white;
  text-align: center;
  margin: 0 0 20px;
}
.button_filled {
  background-color: #9085E3;
  padding: 10px 50px !important;
}
#why_us {
  font-size: 40px;
  text-align: center;
  color: white;
}
.game {
  padding: 0 15px;
}
@media (max-width: 609px) {
  .game {
    width: 100%;
  }
}
.game_text {
  font-size: 20px;
  color: white;
  text-align: left;
  margin: 0 0 10px;
}
.button_register {
  font-size: 17px;
  background-color: #24235E;
  border-color: #FFE500;
  padding: 10px 50px !important;
  border-radius: 50px;
}
.button_mail {
  text-align: left;
  font-size: 17px;
  background-color: #24235E;
  padding: 20px 200px 20px 30px !important;
  border-radius: 50px;
}
.icon_footer {
  margin-top: 10px;
  height: 29px;
  width: 29px;
}
.no_margin {
  margin: 0 !important;
}
.form_search {
  border: 3px solid #9085E3;
  border-radius: 30px;
  padding: 10px 16px 10px 10px;
}
.form_search input {
  border: none;
  background-color: transparent;
  width: 180px;
  color: white;
  outline: none;
  margin-left: 5px;
}
.justify_content_end_notimportent {
  justify-content: flex-end;
}
.justify_content_between_notimportent {
  justify-content: space-between;
}
@media (max-width: 609px) {
  .center_after_610px {
    justify-content: center !important;
  }
}
.button_search {
  background-color: transparent;
  border: none;
}
.login_bg {
  background-color: #454955;
  border-radius: 50px;
  padding: 20px;
}
.input_login {
  border: 1px solid #9085E3;
  border-radius: 10px !important;
  background-color: #9085E3;
  color: white;
  width: 100%;
  outline: none;
  padding: 10px 5px;
}
.form_login {
  width: 100%;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px !important;
  padding: 10px 16px 10px 10px;
}
.form_login ::placeholder {
  color: white;
}
.form_login > input {
  margin-bottom: 20px;
}
/*.flag{
    width: 20px;
    height: 20px;
}*/
input[type=checkbox] {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 2px solid #9085E3;
  border-radius: 2px;
  background-color: #9085E3;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 7px;
}
.button_buy {
  padding: 5px 25px !important;
}
.line {
  height: 1px;
  background-color: #9085E3;
  margin: 20px 0;
}
