@color_purple:#9085E3;
@color_bg:#454955;
@color_black: #1C1C1C;

* {
    box-sizing: border-box;
}

.spacer {
    margin: auto;
}

.bg_dark {
    background-color: @color_bg !important;
}

.bg_purple {
    background-color: @color_purple !important;
}

.bg_black{
    background-color: @color_black !important;
}

.text_white{
    color: white !important;
}

.text_yellow{
    color: #FFE500 !important;
}

.text_purple{
    color: @color_purple !important;
}

.text_align_left{
    text-align: left !important;
}

.text_align_right{
    text-align: right !important;
}

.text_bold{
    font-weight: 800;
}

.content_block{
    padding: 40px 20px;
}

.font_14{
    font-size: 14px !important;
}

.font_17{
    font-size: 17px !important;
}

.font_20{
    font-size: 20px !important;
}

.font_25{
    font-size: 25px !important;
}

.font_30{
    font-size: 30px !important;
}

.font_40{
    font-size: 40px !important;
}

.margin_none{
    margin: 0 !important;
}

.padding_none{
    padding: 0 !important;
}

.padding_top_10{
    padding-top: 10px;
}

.padding_bottom_20{
    padding-bottom: 20px;
}

.padding_bottom_30{
    padding-bottom: 35px;
}

.padding_login{
    width: 100%;
    padding: 0 15px 30px 15px;
}

.border_radius_10{
    border-radius: 10px !important;
}

.image_full_width{
    width: 250px;
    height: auto;
}

.full_width{
    width: 100%;
}

.width_80{
    width: 80%;
}

.width_200px{
    width: 220px;
}

body {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
}

a, a:visited, a:hover{
    color: white;
    text-decoration: none !important;
}

.header {
    height: 78px !important;
    background-color: @color_bg !important;
}

.header_links{
    width: 250px;
    a {
        margin-top: 7px;
        font-size: 17px;
    }
}

.logo {
    margin-right: 50px !important;
    color: #FFE500 !important;
    font-size: 35px !important;
}

.logo2 {
    color: #FFE500 !important;
    font-size: 35px !important;
    margin: 0;
}

.nav-icons {
    height: fit-content;
    >a {
        margin: 0px 5px;
        height: fit-content;
    }
}

.login {
    background-color: @color_purple;
    a {
        font-size: 17px;
    }
}

.button_main {
    display: inline-block;
    text-align: center;
    border: 2px solid @color_purple;
    padding: 5px 0 !important;
    border-radius: 30px;
}

#login {
    width: 115px;
    background-color: @color_purple;
}

#register {
    width: 115px;
    background-color: @color_bg;
}

#main_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(~"100vh - 78px");
    background-image: url(/images/first.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    div {
        a {
            font-size: 25px;
            color: #FFE500;
            background-color: #24235E;
            border-color: #FFE500;
            width: 304px;
            padding: 15px 0 !important;
            border-radius: 50px;
        }
    }
}

#login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(~"100vh - 78px");
    background-image: url(/images/first.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_text {
    font-size: 26px;
    color: white;
    text-align: center;
    margin: 0 0 20px;
}

.button_filled {
    background-color: @color_purple;
    padding: 10px 50px !important;
}

#why_us {
    font-size: 40px;
    text-align: center;
    color: white;
}

.game{
    padding: 0 15px;
    @media (max-width: 609px){
        width: 100%;
    }
}

.game_text {
    font-size: 20px;
    color: white;
    text-align: left;
    margin: 0 0 10px;
}

.button_register {
    font-size: 17px;
    background-color: #24235E;
    border-color: #FFE500;
    padding: 10px 50px !important;
    border-radius: 50px;
}

.button_mail {
    text-align: left;
    font-size: 17px;
    background-color: #24235E;
    padding: 20px 200px 20px 30px !important;
    border-radius: 50px;
}

.icon_footer {
    margin-top: 10px;
    height: 29px;
    width: 29px;
}

.no_margin {
    margin: 0 !important;
}

.form_search{
    border: 3px solid @color_purple;
    border-radius: 30px;
    padding: 10px 16px 10px 10px;
    input {
        border: none;
        background-color: transparent;
        width: 180px;
        color: white;
        outline: none;
        margin-left: 5px;
    }
}

.justify_content_end_notimportent{
    justify-content: flex-end;
}

.center_after_610px{
    @media (max-width: 609px){
        justify-content: center !important;
    }
}

.button_search {
    background-color: transparent;
    border: none;
}

.login_bg{
    background-color: @color_bg;
    border-radius: 50px;
    padding: 20px;
}

.input_login{
    border: 1px solid @color_purple;
    .border_radius_10;
    background-color: @color_purple;
    color: white;
    width: 100%;
    outline: none;
    padding: 10px 5px;
}

.form_login{
    width: 100%;
    background-color: transparent;
    border: 3px solid transparent;
    .border_radius_10;
    padding: 10px 16px 10px 10px;
    ::placeholder{
        color: white;
    }
    >input{
        margin-bottom: 20px;
    }
}
