* {
  box-sizing: border-box;
}
/* Notify */
#toast-container > div {
  box-shadow: 0 0 12px #1C1C1C !important;
  -webkit-box-shadow: 0 0 12px #1C1C1C !important;
}
a,
a:visited,
a:hover {
  color: white;
  text-decoration: none !important;
}
.full_heigth_block {
  min-height: calc(100vh - 78px - 139px - 135px);
}
.spacer {
  margin: auto;
}
.bg_dark {
  background-color: #454955 !important;
}
.bg_purple {
  background-color: #9085E3 !important;
}
.bg_black {
  background-color: #1C1C1C !important;
}
.text_white {
  color: white !important;
}
.text_yellow {
  color: #FFE500 !important;
}
.text_purple {
  color: #9085E3 !important;
}
.text_align_left {
  text-align: left !important;
}
.text_align_right {
  text-align: right !important;
}
.text_bold {
  font-weight: 800;
}
.content_block {
  padding: 40px 20px;
}
@media (max-width: 768px) {
  .content_block {
    padding: 30px 20px;
  }
}
.font_14 {
  font-size: 14px !important;
}
@media (max-width: 768px) {
  .font_14 {
    font-size: 12px !important;
  }
}
@media (max-width: 576px) {
  .font_14 {
    font-size: 10px !important;
  }
}
.font_17 {
  font-size: 17px !important;
}
@media (max-width: 768px) {
  .font_17 {
    font-size: 14px !important;
  }
}
@media (max-width: 576px) {
  .font_17 {
    font-size: 12px !important;
  }
}
.font_20 {
  font-size: 20px !important;
}
@media (max-width: 768px) {
  .font_20 {
    font-size: 17px !important;
  }
}
@media (max-width: 576px) {
  .font_20 {
    font-size: 14px !important;
  }
}
.font_static_20 {
  font-size: 20px !important;
}
.font_25 {
  font-size: 25px !important;
}
@media (max-width: 768px) {
  .font_25 {
    font-size: 21px !important;
  }
}
@media (max-width: 576px) {
  .font_25 {
    font-size: 17px !important;
  }
}
.font_static_26 {
  font-size: 26px !important;
}
.font_30 {
  font-size: 30px !important;
}
@media (max-width: 768px) {
  .font_30 {
    font-size: 20px !important;
  }
}
@media (max-width: 576px) {
  .font_30 {
    font-size: 15px !important;
  }
}
.font_35 {
  font-size: 35px !important;
}
@media (max-width: 768px) {
  .font_35 {
    font-size: 30px !important;
  }
}
@media (max-width: 576px) {
  .font_35 {
    font-size: 25px !important;
  }
}
.font_40 {
  font-size: 40px !important;
}
@media (max-width: 768px) {
  .font_40 {
    font-size: 30px !important;
  }
}
@media (max-width: 576px) {
  .font_40 {
    font-size: 25px !important;
  }
}
.margin_none {
  margin: 0 !important;
}
.margin_bottom_20 {
  margin: 0 0 20px 0 !important;
}
.margin_bottom_custom_20 {
  margin: 0 0 20px 0 !important;
}
@media (max-width: 768px) {
  .margin_bottom_custom_20 {
    margin: 0 0 10px 0 !important;
  }
}
.margin_sides_20 {
  margin: 100px 20px !important;
}
.padding_none {
  padding: 0 !important;
}
@media (max-width: 576px) {
  .padding_none_576 {
    padding: 0 !important;
  }
}
.padding_right_10 {
  padding-right: 10px;
}
.padding_right_15 {
  padding-right: 15px;
}
.padding_left_10 {
  padding-left: 10px;
}
.padding_top_5 {
  padding-top: 5px;
}
.padding_top_10 {
  padding-top: 10px;
}
.padding_bottom_20 {
  padding-bottom: 20px;
}
.padding_bottom_30 {
  padding-bottom: 35px;
}
.padding_login {
  width: 100%;
  padding: 0 15px 30px 15px;
}
.border_radius_10 {
  border-radius: 10px !important;
}
.image_width_370 {
  width: 370px;
  height: auto;
}
@media (max-width: 576px) {
  .image_width_370 {
    width: 270px;
    height: auto;
  }
}
.image_full_width {
  width: 250px;
  height: auto;
}
.image_checkout_width {
  width: 30px;
  height: auto;
}
@media (max-width: 768px) {
  .image_checkout_width {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 576px) {
  .image_checkout_width {
    width: 15px;
    height: auto;
  }
}
.full_width {
  width: 100%;
}
.width_80 {
  width: 80%;
}
.width_200px {
  width: 220px;
}
body {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 30px;
}
.header {
  height: 78px !important;
  background-color: #454955 !important;
}
.header_links {
  width: 250px;
}
.header_links a {
  margin-top: 7px;
  font-size: 17px;
}
.logo {
  font-size: 35px !important;
  margin-right: 50px !important;
  color: #FFE500 !important;
}
@media (max-width: 768px) {
  .logo {
    font-size: 30px !important;
  }
}
@media (max-width: 576px) {
  .logo {
    font-size: 25px !important;
  }
}
@media (max-width: 991px) {
  .logo {
    margin-right: 0 !important;
  }
}
.logo2 {
  font-size: 35px !important;
  color: #FFE500 !important;
  margin: 0;
}
@media (max-width: 768px) {
  .logo2 {
    font-size: 30px !important;
  }
}
@media (max-width: 576px) {
  .logo2 {
    font-size: 25px !important;
  }
}
.nav-icons {
  height: fit-content;
}
.nav-icons > a {
  margin: 0px 5px;
  height: fit-content;
}
.login {
  background-color: #9085E3;
}
.login a {
  font-size: 17px;
}
.header_user_dropdown {
  font-size: 17px;
  color: white !important;
}
.header_dropdown {
  background-color: #454955 !important;
  top: 70% !important;
}
.button_main {
  display: inline-block;
  text-align: center;
  border: 2px solid #9085E3;
  padding: 5px 0 !important;
  border-radius: 30px;
}
#login {
  width: 115px;
  background-color: #9085E3;
}
#register {
  width: 115px;
  background-color: #454955;
}
#main_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 78px);
  background-image: url(/images/first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main_page div a {
  font-size: 25px;
  color: #FFE500;
  background-color: #24235E;
  border-color: #FFE500;
  width: 304px;
  padding: 15px 0 !important;
  border-radius: 50px;
}
@media (max-width: 768px) {
  #main_page {
    height: calc(60vh - 78px);
  }
  #main_page div a {
    font-size: 17px;
    width: 180px;
    padding: 10px 5px !important;
  }
}
#login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_text {
  font-size: 26px;
  color: white;
  text-align: center;
  margin: 0 0 20px;
}
@media (max-width: 768px) {
  .main_text {
    font-size: 21px;
    margin: 0 0 15px;
  }
}
@media (max-width: 576px) {
  .main_text {
    font-size: 17px;
    margin: 0 0 10px;
  }
}
.button_filled {
  background-color: #9085E3;
  padding: 10px 50px !important;
}
#why_us {
  font-size: 40px !important;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {
  #why_us {
    font-size: 30px !important;
  }
}
@media (max-width: 576px) {
  #why_us {
    font-size: 25px !important;
  }
}
@media (max-width: 576px) {
  .why_us_img_size {
    height: 100px;
  }
}
.game {
  padding: 0 15px;
}
@media (max-width: 609px) {
  .game {
    width: 100%;
  }
}
.game_text {
  font-size: 20px;
  color: white;
  text-align: left;
  margin: 0 0 10px;
}
.gametag {
  font-size: 14px !important;
  border: 1px solid #9085E3;
  border-radius: 25px;
  padding: 2px 10px;
}
@media (max-width: 768px) {
  .gametag {
    font-size: 12px !important;
  }
}
@media (max-width: 576px) {
  .gametag {
    font-size: 10px !important;
  }
}
.button_register {
  font-size: 17px;
  background-color: #24235E;
  border-color: #FFE500;
  padding: 10px 50px !important;
  border-radius: 50px;
}
.button_mail {
  text-align: left;
  font-size: 17px;
  background-color: #24235E;
  padding: 20px 200px 20px 30px !important;
  border-radius: 50px;
}
@media (max-width: 576px) {
  .button_mail {
    padding: 15px 80px 15px 20px !important;
  }
}
.main_page_form ::placeholder {
  font-size: 17px;
  color: #FFE500;
}
.main_page_input {
  outline: none;
  background-color: #24235E;
  border-radius: 50px;
  border: 1px solid #24235E;
  padding: 20px 200px 20px 30px !important;
  color: #FFE500;
}
@media (max-width: 576px) {
  .main_page_input {
    padding: 15px 100px 15px 20px !important;
  }
}
.icon_footer {
  margin-top: 10px;
  height: 29px;
  width: 29px;
}
.no_margin {
  margin: 0 !important;
}
.form_search {
  border: 3px solid #9085E3;
  border-radius: 30px;
  padding: 10px 16px 10px 10px;
}
.form_search input {
  border: none;
  background-color: transparent;
  width: 180px;
  color: white;
  outline: none;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .form_search {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 576px) {
  .form_search input {
    width: 165px;
  }
}
.justify_content_end_notimportent {
  justify-content: flex-end;
}
.justify_content_between_notimportent {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .center_after_768px {
    justify-content: center !important;
  }
}
.button_search {
  background-color: transparent;
  border: none;
}
.login_bg {
  background-color: #454955;
  border-radius: 50px;
  padding: 20px;
}
.input_login {
  border: 1px solid #9085E3;
  border-radius: 10px !important;
  background-color: #9085E3;
  color: white;
  width: 100%;
  outline: none;
  padding: 10px 5px;
}
.input_login.is-invalid {
  border-color: #e3342f;
  padding-right: calc(1.6em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}
.form_login {
  width: 100%;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px !important;
  padding: 10px 16px 10px 10px;
}
.form_login ::placeholder {
  color: white;
}
/*.flag{
    width: 20px;
    height: 20px;
}*/
input[type=checkbox] {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 2px solid #9085E3;
  border-radius: 2px;
  background-color: #9085E3;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 7px;
}
.button_buy {
  padding: 5px 25px !important;
}
.line {
  height: 1px;
  background-color: #9085E3;
  margin: 20px 0;
}
.box {
  padding: 0 0 140% 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.box_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box1 {
  padding: 0 100% 140% 0;
  overflow: hidden;
  position: relative;
}
.box1_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box2 {
  width: 370px;
  height: 500px;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .box2 {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .box2 {
    height: 380px;
    width: 270px;
    margin: 0;
  }
}
.box2_image {
  width: 340px;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .box2_image {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 576px) {
  .box2_image {
    height: 380px;
    width: 270px;
  }
}
